<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <title>営業ツール</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <main class="main"></main>
</head>
<body>
  <style>
    body {
    background-image: url(kami.jpg);
  </style>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href='{% url "app:index" %}'>営業ツール　</a>
    <ul class='navbar-nav'>
      {% if request.user.is_authenticated %}
        <li class='nav-item'>
          <span class='navbar-text'>{{ user }} - </span>
        </li>
        <li class='nav-item'>
          <a href='{% url "logout" %}' class='logout nav-link'>ログアウト　</a>
        </li>
        <li class='nav-item'>
          <a href='{%  url "app:index" %}' class='nav-link'>社員情報　</a>
        </li>
        <li class='nav-item'>
          <a href='{%  url "clientapp:index" %}' class='nav-link'>顧客リスト　</a>
        </li>
        <li>
          <a href='{% url "app:CSV"%}' class="nav-item nav-link" >CSVダウンロード　</a>
        </li>
        <li>
          <a href="{% url 'app:password_change' %}" class="nav-item nav-link" >パスワード変更　</a>
        </li>
        {% if perms.foo.can_vote %}
          <li class='nav-item'>
            <a href='{%  url "accounts:signup" %}' class='signup nav-link'>新規社員作成　</a>
          </li>
        {% endif %}        
      {% else %}
        <li class='nav-item'>
          <a href='{% url "login" %}' class='login nav-link'>ログイン　</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  <main class="main"></main>
  <div>
    <footer class="footer">
    <br>
    <h5><a href='{% url "app:index" %}'>　トップページ</a></h5><br>
    <h6><a href='{% url "app:index" %}'>　 このブログについて</a></h6>
    <h6><a href='{% url "app:index" %}'>　 おすすめのブログ</a></h6><br>
    <h6><p align="right">ryu's system 2019　</p></h6>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    </footer>
  </div>
</body>
</html>