{% extends 'app/base.html' %}
{% block content %}
<h1>社員名：【{{ category }}】</h1><br>
<div class="row">
	<div class="col-md-7">
		<div class="box11">
		    <p>	
		    <h4>名前：{{ category.title }}</h4><br>
		    <h4>所属：{{ category.genre }}</h4>
			<h4>得意分野：{{ category.message }}</h4>
			<h4>担当者：{{ category.author }}</h4>
			<h4>社員メモ：{{ category.memo }}</h4>
		    <h4>更新日：{{ category.updated_at }}</h4>
		    </p>
	    </div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
		<p><h5 class="btn-sticky">この社員の案件を作成する　　　</h5></p>
		<form  method="POST">
			{{ form }}
			{% csrf_token %}
        	{% if user.is_authenticated %}
				<br><button type='submit' class='btn btn-outline-primary'>案件を作成する</button>
		    {% else %}
		    	<p><h6 class="btn-sticky">ログインしてから案件の作成をして下さい</h6>
		        <br><a href='{% url "login" %}' class='login nav-link btn btn-outline-primary'>ログイン</a></p>
		    {% endif %}
		</form><br>
	</div>
</div>
<h3>面談日が５日前までの案件が表示されます</h3>
<div class="row">
	<div class="col-md-10">
		<hr class="hrs">
		<form action="" method="get">
        	<input name="query" value="{{ request.GET.query }}" type="text">
        	<button type="submit" class='btn btn-outline-primary'>検索</button>
        	{% csrf_token %}
		</form>
		<hr class="hrs">
	    {% for x in comments %}
		    <h6 class="btn-sticky">
		    	{{ x.mes }}　
		    	引率者：{{ x.author }}
		    	面談日：{{ x.updated }}　　　　
	    	</h6>
	    	<a href='{% url "app:update2" x.pk %}' class='btn btn-outline-primary'>　内容確認　</a>
	    {% endfor %}
	    <br><br>
	</div>
</div>
<br>
{% if perms.foo %}
	<p>すべての権限をもっているので社員の編集・削除も行えます</p>
    {% if perms.foo.can_vote %}
    <form action="" method="POST">
		<p><td><a href="{% url 'app:update' category.pk %}" class='btn btn-outline-primary'>編集</a>　</td></p>
		<p><td><a href="{% url 'app:delete' object.pk %}" class='btn btn-outline-primary'>削除</a>　</td></p>
	</form>
    {% endif %}
    {% if perms.foo.can_drive %}
        <p>↑権限をもっている時に編集・削除機能表示</p>
    {% endif %}
{% else %}
    <p>権限をもってないのでこの社員の編集・削除はできません</p>
{% endif %}
    <p><a href="{% url 'app:index' %}" class='btn btn-outline-primary'>戻る</a></p>
<br>
{% endblock %}